
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
    font-family: 'Roboto', sans-serif;
    font-weight: 530;
    margin: 0 auto;
    box-sizing: border-box;
}

.container{
    max-width: 1440px ;
    width: 100%;
}
.header{
    width: 100%;
}
.header-inner{
    display: flex;
    justify-content: center;
    align-items: center;
    
    margin-top: 17px;
    margin-left: 100px;
    flex-direction: column;
    width: 100%;
}
.contacts{
    display: flex;
}
.logo{
    width: 130px;

}


.rectangle{
    height: 40px;
    width: 1px;
    background: #E5E5E5;
    margin-right: 26px;
    margin-left: 26px;
}

.column{
    display:flex;
    flex-direction: column;
    justify-content: center;
    
    
}
.lng{
    height: 42px;
    width: 35px;
}
.value{
    height: 42px;
   
}
.ua{
    font-size: 16px;
    display: flex;
    justify-content: center;
    
}
.ru{
    width: 35px;
    height: 20px;
    background: #4AD295;
    border-radius: 2px;
    display: flex;
    justify-content: center;
}
.instg{
    display:flex;
    margin-top: 13px;
    
    
}
.fcbk{
    margin-right:14px;
    width: 20px;
    height: 20px;
}
.instagram{
    width: 20px;
    height: 20px;
    margin-right: 14px;
}
.youtube{
    width: 20px;
    height: 20px;
}
.smartphone{
    margin-left: 7px;
    height: 40px;
    width: 40px;
}

.input_menu{
    display: flex;
    
    height: 50px;
    margin-right: 30px;
}

input{
    width: 185px;
}
.chck{
    width: 55px;
    height: 50px;
    background: #DD4053;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2px;
}
input[type=text]{
    width:185px;
}
input[type=text1]{
    width: 100px;
}
.chck2{
    width: 55px;
    height: 50px;
    background: #4AD295;

    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2px;
}

.menu{
    margin-left: 174px;
    
    margin-top:29px;
    display: flex;
}

.fa-search{
    margin-right: 60px;
}
.fa-caret-down{
    margin-right: 60px; 
}
.text{
    color: #616161;

}
.nn{
    margin-right: 60px;
}

.intro{
    width: 100%;
    /* margin-left: 131px; */
    margin-top: 23px;
}

.intro-inner{
    background: url('./img/maxresdefault\ \(1\)\ 2.png') no-repeat;
    width: 1440px;
    margin: 0;
    /* height: 501.62px;   */
}
.background{
    width: 1440px;
    height: 490px;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.1) 14.37%, rgba(0, 0, 0, 0.8) 100%);
}
.price{
    width: 249px;
    height: 45px;
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    margin-top: 104px;
}