
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');




*{
    font-family: 'Roboto', sans-serif;
    font-weight: 530;
    transition: 0.3s;
    box-sizing: border-box;
}

.container{
    max-width: 1440px ;
    width: 100%;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
}
.header{
    width: 100%;
}
.header-inner{
    display: flex;
    justify-content: center;
    align-items: center;
    
    margin-top: 17px;
    
    flex-direction: column;
    width: 100%;
}
.contacts{
    display: flex;
    
}
.logo{
    width: 130px;

}


.rectangle{
    height: 40px;
    width: 1px;
    background: #E5E5E5;
    margin-right: 26px;
    margin-left: 26px;
}

.column{
    display:flex;
    flex-direction: column;
    justify-content: center;
    
    
}
.lng{
    height: 42px;
    width: 35px;
}
.value-h{
    height: 42px;
   
}
.ua{
    font-size: 16px;
    display: flex;
    justify-content: center;
    
}
.ru{
    width: 35px;
    height: 20px;
    background: #4AD295;
    border-radius: 2px;
    display: flex;
    justify-content: center;
}
.instg{
    display:flex;
    margin-top: 13px;
    
    
}
.fcbk{
    margin-right:14px;
    width: 20px;
    height: 20px;
}
.instagram{
    width: 20px;
    height: 20px;
    margin-right: 14px;
}
.youtube{
    width: 20px;
    height: 20px;
}
.smartphone{
    margin-left: 7px;
    height: 40px;
    width: 40px;
}

.input_menu{
    display: flex;
    
    height: 50px;
    margin-right: 30px;
}

input{
    width: 185px;
}
.chck{
    width: 55px;
    height: 50px;
    background: #DD4053;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2px;
}
input[type=text]{
    width:185px;
}
input[type=text1]{
    width: 100px;
}
.chck2{
    width: 55px;
    height: 50px;
    background: #4AD295;

    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2px;
}

.menu{
    
    
    margin-top:29px;
    display: flex;
}

.fa-search{
    margin-right: 60px;
}
.fa-caret-down{
    margin-right: 60px; 
}
.text{
    color: #616161;

}
.nn{
    margin-right: 60px;
}

.intro{
    width: 100%;
    /* margin-left: 131px; */
    margin-top: 23px;
}

.intro-inner{
    background: url('./img/maxresdefault\ \(1\)\ 2.png') no-repeat;
    width: 1440px;
    margin: 0;
    /* height: 501.62px;   */
    display: flex;
    
}
.background{
    width: 1440px;
    height: 490px;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.1) 14.37%, rgba(0, 0, 0, 0.8) 100%);
    
    
}
.price-i{
    width: 249px;
    height: 45px;
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    margin-top: 104px;
    margin-left: 199px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
}
.hotel{
    width: 725px;
    height: 102px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 45px;
    line-height: 55px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-top: 23px;
    margin-left: 195px;
}
.more{
    width: 270px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    
    margin-left: 200px;
    margin-top: 45px;
    
}
.bg{
    position: absolute;
    width: 270px;
    height: 60px;
    left: 200px;
    top: 480px;
    opacity: 0;
    background: rgba(255, 255, 255, 0.25);
    border-radius: 2px;
}
.bg:hover{
    opacity: 1;
}
.a_more{
    text-decoration: none;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #FFFFFF;
}

.points{
    display: flex;
    margin-left: 200px;
    margin-top: 56px;
    width: 75px;
    justify-content: space-between;
}

.dot{
    width: 7px;
    height: 7px;
    opacity: 0.5;
    border: 1px solid #FFFFFF;
    border-radius: 100%;
}

.dot:hover{
    background: #FFFFFF;
    border: 1px solid #FFFFFF;
    opacity: 1;
}
.white{
    background: #FFFFFF;
    border: 1px solid #FFFFFF;
    opacity: 1;
}


.about{
    width: 100%;
}

.about-inner{
    display: flex;
    background: rgb(238, 234, 234);
    padding-left: 198px;
}
.tour_operator{
    width: 624px;
    height: 72px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 36px;
    color: #1D1D1D;
    margin-top: 30px;
}
 .travel{
    width: 335px;
    height: 28px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 28px; 
    color: #777777;
    margin-top:15px;
 }
 
 .btn{
    display: flex;

 }
 .offer{
    width: 270px;
    height: 50px;
    border: 1px solid #969696;
    box-sizing: border-box;
    border-radius: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-right: 30px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    color: #969696;
    text-decoration: none;
 }
 
.consultation{
    width: 220px;
    height: 50px;
    border: 1px solid #969696;
    box-sizing: border-box;
    border-radius: 2px;
    margin-top: 20px;
    
    display: flex;
    justify-content: center;
    align-items: center;
}


 .offer:hover{
    background: #BDBDBD;
    color: #FFFFFF;
 }

.right{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 370px;
    height: 198px;
    margin-top: 27px;
}

.icon{
    border: 3px dashed #969696;
    width: 45px;
    height: 45px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color:#969696;
    flex-direction: column;
    margin-right: 20px;
}
.element{
    display: flex;
    align-items: center;
       
}
.e-in{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 66px;
    color: #3D3D3D; 
}

.fa-caret-down{
    color: #C4C4C4;
    margin-left: 7px;
}

.tours{
    width: 100%;
}
.tours-inner{
    display: flex;
    flex-direction: column;
    margin-left: 200px;
}
.t-nav{
    display: flex;
    align-items: center;
    margin-top: 100px;
    
}
.actual{
    
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 45px;
    line-height: 55px;
    /* identical to box height, or 122% */
    
    
    color: #232323;
}
.line{
    width: 340px;
    height: 1px;
    margin-left: 56px;
    background: #C4C4C4;
    margin-right: 26px;
}
.all-t{
    width: 140px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #969696;
    box-sizing: border-box;
    border-radius: 2px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    /* identical to box height */
    
    text-align: center;
    
    color: #969696;
    
}
.cards{
    display: flex;
    width: 100%;
    margin-top: 40px;
}
.card{
    /* width: 327px; */
    height: 480px;
    background: #F8F8F8;
    width: 30%;
}

.f{
    background: url('./img/mandarina\ 2.png') no-repeat;
    width: 327px;
    margin-right: 30px;
}

.tape{
    width: 195px;
    height: 30px;
    left: 200px;
    top: 1755px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.35);
    margin-top: 15px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    /* identical to box height, or 171% */
    
    
    color: #FFFFFF;
    
}
.sp{
    line-height: 14px;
}
.f-text{
    text-transform: uppercase;
    margin-top: 220px;
    margin-left: 20px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 34px;
    /* identical to box height, or 170% */
    max-width: 281px;
    text-transform: uppercase;
    
    color: #323232;
    
}
.f-text_s{
    text-transform: uppercase;
    margin-top: 220px;
    margin-left: 20px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    /* identical to box height, or 170% */
    max-width: 281px;
    text-transform: uppercase;
    
    color: #323232;
    
}
.f-text-main{
    width: 316px;
    margin-top: 29px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    /* or 150% */
    
    margin-left: 20px;
    color: #848484;
    
}
.f-text-main_s{
    width: 316px;
    margin-top: 15px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    /* or 150% */
    
    margin-left: 20px;
    color: #848484;
    
}
.c-line{
    width: 280px;
    height: 1px;
    background: #E8E8E8;
    margin-top: 26px;
    margin-left: 20px;
}
.c-footer{
    margin-left: 20px;
    margin-top: 23px;
    display: flex;
}
.from{
    margin-top: 3px;
    width: 18px;
    height: 34px;
    
    
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 34px;
    /* identical to box height, or 212% */
    
    
    color: #DD4053;
}
.f-left{
    display: flex;
    flex-direction: column;
}
.price{
    display: flex;
}
.value{
    width: 73px;
    height: 32px;
    
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 34px;
    /* or 142% */
    
    margin-left: 6px;
    color: #DD4053;
    
}


.footer-text{
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 34px;
    /* identical to box height, or 283% */
    
    
    color: #C9C9C9;
        
}

.r-text{
    width: 79px;
    height: 36px;
    
    
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 18px;
    /* or 150% */
    
    
    color: #3E3E3E;
    margin-left: 44px;
    margin-top: 33px;
}

.s{
    background: url('./img/1491655\ 1.png') no-repeat;
    width: 326px;
    margin-right: 30px;
}
.t{
    width: 326px;
    background: url('./img/276398231\ 1.png') no-repeat;
}
